<!DOCTYPE html>
<html>
<head>
<h1 id="myhead"> Welcome to MKT <img src="templates/home.jpg" alt="logo" /> </h1>

<style>



img{
	
	width: 100px;
    height: 50px;}
  
label{padding: 10px}

#myhead{ 
		text-align: center;
		background-color:lightblue; 
		margin: 40px;
		padding: 50px;
		font-size:400%}
		
#pass{ 
	   padding-left:17px;
	   }
		
form{text-align: center;
	font-size: 130%;
	text:bold;}
	
#but{ 
	background-color: #0066ff;
	color: white;
	padding:5px 20px;}
	
#p{text-align: center;
   font-size:90%}

#reg{color: green;
	align-items:center;
	padding-left: 10px}
	
a{color: Green}

</style>
</head>

<body>

<form>
	<label id="user"> Username: </label>
	<input type="text" placeholder='Enter Username' required="text"><br><br>
	<label id="pass"> Password: </label>
	<input type="password" placeholder="Enter Password" required="pass"><br><br>
	
	<button id="but" > Login</button>
	<p id="p"> New User?</p>

	<a href="https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_a_target" target="_blank"> Register</a>
</form>



</body>
</html>