<Html>
<head> 
<title>
Registration Page
</title>
</head>

<h2>Registration Page</h2>

<style>
h2{padding-top:10px}

body{background-color:#8cd6ed;
	text-align: center}
</style>

<body>
<br>
<br>
<form>

<label> Firstname: </label>       
<input type="text" name="firstname" size="25" required="text"/> <br> <br>
<label> Middlename: </label>   
<input type="text" name="middlename" size="25"/> <br> <br>
<label> Lastname:</label>       
<input type="text" name="lastname" size="25"/> <br> <br>

<label> 
Education :
</label> 
<select required>
<option value="">Select</option>
<option value="SSC">SSC</option>
<option value="B.Com">B.COM</option>
<option value="B.Tech">B.Tech</option>
<option value="M.Tech">M.Tech</option>
<option value="MCA">MCA</option>
<option value="CA">CA</option>
<option value="BA">BA</option>
</select>

<label>
Occupation :
<select required>
<option value="">Select</option>
<option value="Employee">Employee</option>
<option value="Student">Student</option>
<option value="Farmer">Farmer</option>
<option value="Daily Labour"> Daily Labour</option>

</select>


</label>
<br>
<br>
<label> 
Gender :
</label>
<select required>
<option value="">Select</option>
<option value="Male">Male</option>
<option value="Female">Female</option>
<option value="Other">Other</option>
</select>

<br><br>

<label> 
Phone :
</label>
<input type="text" name="country code"  value="+91" size="2"/> 
<input type="text" name="phone" size="10" required /> <br> <br>

<label>
Password:
</label>

<input type="password" placeholder="Create New Password" required><br><br>

<button> Submit</button>

